In [189]:
import pandas as pd
import numpy as np
from ase.db.table import all_columns

input_file = "input.txt"  # 원본 파일명
output_file = r"C:\Users\dinle\iCloudDrive\문서\코인\빗썸.xlsx"
all_cols = ["거래일시", "자산", "거래구분", "거래수량", "체결가격", "거래금액", "수수료", "정산금액", "상태"]
num_cols = ["거래수량", "체결가격", "거래금액", "수수료", "정산금액"]

def safe_float_convert(x):
    x = str(x)
    return float(x.replace(",", "")) if x != "-" else x

In [190]:
# 읽기
with open(input_file, "r", encoding="utf-8") as f:
    lines = [line.strip() for line in f if line.strip() != "완료"]  # 빈 줄 제거
    
df_intput = pd.DataFrame(np.array(lines).reshape(-1, 14))
df_intput = df_intput.drop(columns=[df_intput.columns[2], df_intput.columns[5], df_intput.columns[7], df_intput.columns[9], df_intput.columns[11]])
df_intput.columns = all_cols
df_intput["상태"] = np.nan
df_intput["거래일시"] = pd.to_datetime(df_intput["거래일시"])

df_intput

,거래일시,자산,거래구분,거래수량,체결가격,거래금액,수수료,정산금액,상태
0,2025-03-03 11:38:48,원화,출금,"105,297",-,"104,297","1,000","-105,297",NaN
1,2025-03-01 16:43:39,원화,출금,"91,784",-,"90,784","1,000","-91,784",NaN
2,2025-03-01 02:47:27,원화,출금,"97,902",-,"96,902","1,000","-97,902",NaN
3,2025-02-28 06:32:31,원화,포인트샵 입금,"30,800",-,"30,800",-,"+30,800",NaN
4,2025-02-27 20:41:57,원화,출금,"48,259",-,"47,259","1,000","-48,259",NaN
5,2025-02-26 18:42:06,원화,출금,"46,192",-,"45,192","1,000","-46,192",NaN
6,2025-02-26 02:14:06,원화,출금,"230,765",-,"229,765","1,000","-230,765",NaN
7,2025-02-25 23:23:09,원화,입금,"285,000",-,"285,000",-,"+285,000",NaN
8,2025-02-25 21:15:57,원화,출금,"286,802",-,"285,802","1,000","-286,802",NaN
9,2025-02-25 21:15:16,원화,포인트샵 입금,"23,800",-,"23,800",-,"+23,800",NaN
10,2025-02-25 15:29:24,원화,입금,"200,000",-,"200,000",-,"+200,000",NaN
11,2025-02-24 18:07:21,원화,출금,"49,320",-,"48,320","1,000","-49,320",NaN
12,2025-02-24 17:26:30,원화,출금,"74,117",-,"73,117","1,000","-74,117",NaN
13,2025-02-24 17:25:13,원화,포인트샵 입금,"26,900",-,"26,900",-,"+26,900",NaN
14,2025-02-22 22:22:21,원화,출금,"55,895",-,"54,895","1,000","-55,895",NaN
15,2025-02-22 06:50:12,원화,출금,"50,360",-,"49,360","1,000","-50,360",NaN
16,2025-02-21 23:19:24,원화,출금,"52,035",-,"51,035","1,000","-52,035",NaN
17,2025-02-21 23:18:42,원화,포인트샵 입금,"14,200",-,"14,200",-,"+14,200",NaN
18,2025-02-19 21:28:12,원화,출금,"55,516",-,"54,516","1,000","-55,516",NaN
19,2025-02-18 03:31:24,원화,포인트샵 입금,"13,100",-,"13,100",-,"+13,100",NaN
20,2025-02-17 19:26:57,원화,출금,"62,109",-,"61,109","1,000","-62,109",NaN
21,2025-02-17 19:26:33,원화,예치금 이용료,1,-,1,-,+1,NaN
22,2025-02-17 18:25:30,원화,포인트샵 입금,"43,200",-,"43,200",-,"+43,200",NaN
23,2025-02-16 16:09:45,원화,출금,"51,274",-,"50,274","1,000","-51,274",NaN
24,2025-02-16 16:08:55,원화,포인트샵 입금,"49,700",-,"49,700",-,"+49,700",NaN
25,2025-02-15 10:12:45,원화,출금,"66,871",-,"65,871","1,000","-66,871",NaN
26,2025-02-13 03:00:34,원화,포인트샵 입금,"12,800",-,"12,800",-,"+12,800",NaN
27,2025-02-12 19:38:57,원화,출금,"48,658",-,"47,658","1,000","-48,658",NaN
28,2025-02-12 13:41:21,원화,입금,"200,000",-,"200,000",-,"+200,000",NaN
29,2025-02-11 22:12:42,원화,입금,"250,000",-,"250,000",-,"+250,000",NaN
30,2025-02-11 20:09:30,원화,출금,"52,779",-,"51,779","1,000","-52,779",NaN
31,2025-02-10 11:12:18,원화,출금,"50,282",-,"49,282","1,000","-50,282",NaN
32,2025-02-09 01:24:51,원화,포인트샵 입금,"21,300",-,"21,300",-,"+21,300",NaN
33,2025-02-07 22:16:54,원화,출금,"62,594",-,"61,594","1,000","-62,594",NaN
34,2025-02-07 10:14:57,원화,입금,"200,000",-,"200,000",-,"+200,000",NaN

In [191]:
df_org = pd.read_excel(output_file)
df_org

                   거래일시   자산    거래구분   거래수량  체결가격   거래금액   수수료    정산금액  상태
0   2024-07-02 15:55:54   원화      출금  71392   0.0  70392  1000  -71392 NaN
1                   NaT  KRW     NaN    KRW   NaN    KRW   KRW     KRW NaN
2   2024-07-01 17:17:39   원화      출금  23011   0.0  22011  1000  -23011 NaN
3                   NaT  KRW     NaN    KRW   NaN    KRW   KRW     KRW NaN
4   2024-06-30 09:21:51   원화      출금  24887   0.0  23887  1000  -24887 NaN
..                  ...  ...     ...    ...   ...    ...   ...     ...  ..
727 2025-01-17 00:00:00   원화      출금  43158   0.0  42158  1000  -43158 NaN
728 2025-01-16 00:00:00   원화      출금  81137   0.0  80137  1000  -81137 NaN
729 2025-01-15 00:00:00   원화      출금  96803   0.0  95803  1000  -96803 NaN
730 2025-01-15 00:00:00   원화  포인트샵입금  19300   0.0  19300     0   19300 NaN
731 2025-01-15 00:00:00   원화      출금  89759   0.0  88759  1000  -89759 NaN

[732 rows x 9 columns]

In [192]:
# 병합
df_output = pd.concat([df_org, df_intput], ignore_index=True)
df_output = df_output.drop_duplicates().dropna(subset=[df_org.columns[0]]) 
df_output = df_output.sort_values(by="거래일시", ascending=True)
df_output[num_cols] = df_output[num_cols].applymap(safe_float_convert)

df_output

,거래일시,자산,거래구분,거래수량,체결가격,거래금액,수수료,정산금액,상태
326,2023-10-20 19:53:45,원화,입금,300000.0,0.0,300000.0,-,300000.0,NaN
324,2023-10-21 21:41:06,원화,출금,298483.0,0.0,297483.0,1000.0,-298483.0,NaN
322,2023-10-31 14:40:39,원화,입금,2500000.0,0.0,2500000.0,-,2500000.0,NaN
320,2023-11-02 19:22:16,원화,출금,103172.0,0.0,102172.0,1000.0,-103172.0,NaN
318,2023-11-09 19:30:07,원화,출금,171570.0,0.0,170570.0,1000.0,-171570.0,NaN
...,...,...,...,...,...,...,...,...,...
736,2025-02-27 20:41:57,원화,출금,48259.0,-,47259.0,1000.0,-48259.0,NaN
735,2025-02-28 06:32:31,원화,포인트샵 입금,30800.0,-,30800.0,-,30800.0,NaN
734,2025-03-01 02:47:27,원화,출금,97902.0,-,96902.0,1000.0,-97902.0,NaN
733,2025-03-01 16:43:39,원화,출금,91784.0,-,90784.0,1000.0,-91784.0,NaN
732,2025-03-03 11:38:48,원화,출금,105297.0,-,104297.0,1000.0,-105297.0,NaN

In [193]:
# 쓰기

with pd.ExcelWriter(output_file, mode="a", engine="openpyxl", if_sheet_exists="replace") as writer:
    df_output.to_excel(writer, index=False)  # 기존 데이터 + 새로운 데이터 저장